@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-2">This is my demo project to test docker</h2>
    <p>it is runnning on port 8080</p>
</div>
